<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721159524899-11kmv92aq54fbk92rljsq79dtdas2bnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721159524899-11kmv92aq54fbk92rljsq79dtdas2bnm</string>
	<key>API_KEY</key>
	<string>AIzaSyAVzcnyLPxO3NqzI9kSnCX3bzi0xXzucVM</string>
	<key>GCM_SENDER_ID</key>
	<string>721159524899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TikMoney</string>
	<key>PROJECT_ID</key>
	<string>tikmoney-a6261</string>
	<key>STORAGE_BUCKET</key>
	<string>tikmoney-a6261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721159524899:ios:483993a43e62a328651796</string>
</dict>
</plist>